.documents {
  margin-top: 80px;
  width: 70%;
}

html body div.container.documents div.title{
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: #33c6f4 solid 2pt;
    display: inline-block;
    padding-bottom: 5px;
}
html body div.container.documents div.text{
    margin-bottom: 80px;
    font-size: 0.866em;
    color:#5879da;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
}
html body div.container.documents div.text a{
    display: block;
    margin-bottom: 15px;
}