

/*colors */
.orange{
    color: #ff720b;
}
.orange-line{
    width:50px;
    height: 2pt;
    background-color: #ff720b;
}

.centralized{
    margin: 0 auto;
    clear: both;
    text-align: center;
}

.header {
    font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    margin-top: 35px;
    margin-bottom: 15px;
  
    padding-left: 10px;
    padding-right: 10px;
  
}



.row {
  margin-left: 0;
  margin-right: 0;
}
.container { 
  padding-left: 0px;
  padding-right: 0px;
  max-width: 1280px;
  position: relative;
}

