<!DOCTYPE html>

<head>
    {% include head.html %}
    <script>
        $(document).ready(function () {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function (e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function (e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% if page.datatable == true %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {

        $('table.datatable').DataTable({
            paging: false,
            stateSave: true
        }
        );
</script>
{% endif %}
<link rel="stylesheet" href="css/documents.css">
</head>

<body>
    {% include topnav.html %}
    <!-- Page Content -->

    <div class="centralized header documents"> Utilize our API.</div>
    <div class="orange-line centralized"></div>
    <div class="container documents">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                <div class="title">Admin</div>
                <div class="text">
                    <a href="">Agent Groups API</a>
                    <a href="">Skills API</a>
                    <a href="">Users API</a>
                    <a href="">Automatic Message API</a>
                    <a href="">Predefined Content API</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="title">Consumer Experience</div>
                <div class="text">
                    <a href="">In-App messaging SDK for iOS swift</a>
                    <a href="">In-App messaging SDK for iOS objective-C</a>
                    <a href="">In-App messaging SDK for android</a>
                    <a href="">Push Services API</a>
                    <a href="">Engagement Window Widget SDK</a>
                </div>
            </div>
            <div class="clearfix visible-sm "></div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                <div class="title">Engagement</div>
                <div class="text">
                    <a href="">Engagement Trigger API</a>
                    <a href="">External Engagement API</a>
                </div>
            </div>
            <div class="clearfix visible-lg visible-md"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                <div class="title">Tag</div>
                <div class="text">
                    <a href="">LiveEngage Taglet API</a>
                    <a href="">Taglet Engagement API</a>
                    <a href="">LE2lp TagEvents</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                <div class="title">Agent Workspace</div>
                <div class="text">
                    <a href="">Agent Workspace Widget SDK</a>
                    <a href="">Chat Agent API</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="title">Data</div>
                <div class="text">
                    <a href="">RT Operational API</a>
                    <a href="">Messaging Operations API</a>
                    <a href="">Messaging Interactions API (Beta)</a>
                    <a href="">Engagement History API</a>
                    <a href="">Data Access API (Beta)</a>
                </div>
            </div>
        </div>
    </div>


</body>
{% if site.google_analytics %} {% include google_analytics.html %} {% endif %}

</html>