<!DOCTYPE html>

<head>
    {% include head.html %}
    <script>
        $(document).ready(function () {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function (e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function (e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% if page.datatable == true %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {

        $('table.datatable').DataTable({
            paging: false,
            stateSave: true
        }
        );
</script>
{% endif %}
<link rel="stylesheet" href="css/products.css">
</head>

<body>
    {% include topnav.html %}
    <!-- Page Content -->

    <div class="centralized header products"> LiveEngage Digital Communication Products.</div>
    <div class="orange-line centralized"></div>
    <div class="container products">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

                <div class="title">Channels</div>
                <div class="text">
                    <a href="">In-app messaging (iOS & Android)</a>
                    <a href="">Email</a>
                    <a href="">Messaging apps (sms, social media, etc)</a>
                    <a href="">Add messaging to your marketplace</a>
                </div>
            </div>
           
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

                <div class="title">Bots</div>
                <div class="text">
                    <a href="">Chatbots & agent escalation</a>
                    
                </div>
            </div>
            <div class="clearfix visible-sm "></div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

                <div class="title">Agent</div>
                <div class="text">
                    <a href="">Next best answer tool</a>
                    <a href="">CRM Integration</a>
                    <a href="">Knowledge base integration)</a>
                </div>
            </div>
            <div class="clearfix visible-md "></div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

                <div class="title">Rich Media</div>
                <div class="text">
                    <a href="">Video chat</a>
                    <a href="">File sharing</a>
                    <a href="">Rich content (e.g. youtube video)</a>
                    <a href="">Automatic translations</a>
                </div>
            </div>
             <div class="clearfix visible-lg "></div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

                <div class="title">Data</div>
                <div class="text">
                    <a href="">Real time operational dashboards & integrations</a>
                    <a href="">Data integrations for analytics</a>
                    <a href="">Custom dashboards</a>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

                <div class="title">Operations</div>
                <div class="text">
                    <a href="">Agent Workspace Widget SDK</a>
                    <a href="">Chat Agent API</a>
                   
                </div>
            </div>
            <div class="clearfix visible-md visible-sm"></div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

                <div class="title">Admin</div>
                <div class="text">
                    <a href="">Setup users in bulk</a>
                    <a href="">Configure groups or skills</a>
                    <a href="">Mass import or edit pre-defined content or automatic messages.</a>
                    <a href="">Integrate with IDM systemse</a>
                </div>
            </div>
        </div>
    </div>


</body>
{% if site.google_analytics %} {% include google_analytics.html %} {% endif %}

</html>